<div class="section">
  <div class="container">
    <div class="row" ng-init="findById()">
      <div class="col-sm-12">
        <form role="form" enctype="multipart/form-data">

          <div class="form-group">
            <input type='file' ng-model='row.file1' base-sixty-four-input>
          </div>

          <div class="form-group">
            <input ng-model="row.id" class="form-control" id="id" placeholder="id" type="hidden">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary" ng-click="upload()">Enviar</button>
          </div>

        </form>
      </div>
    </div>

    <div class="row" ng-init="findImagensByIdProduto()">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>#</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="img in imgs | filter: { nome: query}">
              <td><img height="171" data-ng-src="{{img.imagem}}" /></td>
              <th><a href="#/produto/upload/{{row.id}}" role="button" class="text-danger" ng-click="deleteImagem({{img.id}})"  confirmation="Posso mesmo excluir?">Excluir</a></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
